<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>label</key>
			<string>Общие данные</string>
			<key>type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
			</array>
			<key>label</key>
			<string>Общие данные</string>
			<key>type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
			</array>
			<key>label</key>
			<string>Общие данные</string>
			<key>type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>cells</key>
			<array>
				<dict>
					<key>field</key>
					<string>name</string>
					<key>label</key>
					<string>Имя</string>
					<key>sample</key>
					<string>Таир</string>
					<key>type</key>
					<string>text</string>
				</dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
                <dict>
                    <key>field</key>
                    <string>name</string>
                    <key>label</key>
                    <string>Имя</string>
                    <key>sample</key>
                    <string>Таир</string>
                    <key>type</key>
                    <string>text</string>
                </dict>
			</array>
			<key>label</key>
			<string>Общие данные</string>
			<key>type</key>
			<string>static</string>
		</dict>
	</array>
	<key>boxes</key>
	<array>
		<dict>
			<key>name</key>
			<string>draft</string>
			<key>label</key>
			<string>Черновые</string>
		</dict>
		<dict>
			<key>name</key>
			<string>outbox</string>
			<key>label</key>
			<string>Готовые</string>
		</dict>
		<dict>
			<key>name</key>
			<string>sent</string>
			<key>label</key>
			<string>История</string>
		</dict>
		<dict>
			<key>name</key>
			<string>trash</string>
			<key>label</key>
			<string>Корзина</string>
		</dict>
	</array>
</dict>
</plist>
